<%- include ('../../partials/configure_header.ejs') %> 
<%- include ('../../partials/header_servidor.ejs') %>

<body class="fundonotas">

<div class="col-10 background-banner-principal mx-auto" style="height: auto">

  <div id="infospc" class="container">
   <div>     
        <h5>PEDIDO ENVIADO!</h5>
        <hr />
        <div class="text-left">
          <h6 class="questao-modal">Saiba que:</h6>
          <p>
           Pedimos que aguarde o contato do RH!
          </p>
          <hr />
          <h6 class="questao-modal">Verifique</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry
          </p>
          <hr />
          <h6 class="questao-modal">Tudo certo?</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry
          </p>
        </div>
        
          <hr />
</div>
</div>
  </div>
</body>


<%- include ('../../partials/footer.ejs') %>
<%- include ('../../partials/configure_footer.ejs') %>