<footer style="margin-top: 30%;">
  <div class="row" style="margin-bottom: 0">
    <div class="col-md-6">
      <img class="imagem-logo-rodape" src="/imagens/logo_anselmo.png" alt="logo_anselmo" />
    </div>
    <div class="col-md-6">
      <img class="imagem-logo-rodape" src="/imagens/logo_prefeitura.png" alt="logo_prefeitura" />
    </div>
   
    </div>
  </div>
</footer>
