<%- include ('../../partials/configure_header.ejs') %> 


<body class="fundologin login">

  <h5 class="text-center" style="background-color: #f8c7c7; padding: 11px; height: 50px;">ACESSO NEGADO</h5>  

  
</body>

<%- include ('../../partials/configure_footer.ejs') %>
